.container {
    position: relative;
    background-color:darkolivegreen;
    height: 90vh;
    width: 100vw;
  }

  .stage {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: calc(10 * 100vw);
  }
  
  .character {
    position: absolute;
    display: block;
    height: 100px;
    width: 50px;
    background-size: cover;
    bottom: 0;
    left: 0;
    background-image: url('../../assets/james.png')
  }

  .text{
    position: absolute;
    display: block;
    bottom: 150px;
    left: -10px;
    width: 100%;
    font-size: xx-large;
    color: black;
  }

  .block {
    position: absolute;
    display: block;
    height: 110px;
    width: 110px;
    bottom: 0;
    left: 0;
    background-image: url('../../assets/creature.gif');
    background-size: cover;
    background-repeat: no-repeat;
  }